<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registering form</title>
    <th:block th:include="fragments/header"></th:block>    
    <script type="text/javascript" src="/js/main.js"></script>
    
</head>
<body>
<th:block th:include="fragments/nav"></th:block>
<div class="container" style="min-height: 500px">
   
    <div class="starter-template">
     <h1>Spring Boot AJAX Example</h1>
        <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Company</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${users}">
            <td th:href="${/users/{id}">ID</td>
            <td th:text="${user.id}">ID</td>
            <td> <span th: text="{userid}"/></td>
            <td th:text="${user.company}">ID</td>
         </tr>
        </tbody>
      </table>

    </div>

</div>
<th:block th:include="fragments/footer"></th:block>
</body>     
</html>